<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Семантика - сила">
    <title>Тестовое задание на понимание семантических блоков</title>
  </head>
  <body>
      <header>
      Верхняя часть страницы: логотип, контакты
      <nav>
        Меню (навигация)
      </nav>
    </header>
      <aside>
      fds
      </aside>
    <main>
      Основное содержимое страницы
        <section>
            <article>sdfgsae</article>
            <article>DGsgs</article>
        </section>
    </main>
    <footer>
      Подвал
        <nav>
        Меню (навигация)
        </nav>
    </footer>
  </body>
</html>