
{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/first_list.css'%}" type="text/css">

<div>
    <div class="container">
        <div class="col-1-1">
            <h1>ОПУБЛИКОВАННЫ НОВЫЕ МАТЕРИАЛЫ</h1>
            <a class="silka" href="{% url 'f_l_e_m' %}"><h3>перейти</h3><img src="{% static 'images/oll/strelka.png' %}" width = "50px" height="50px"></a>
        </div>
        <div class="col-otstup"></div>
        <div class="col-1-2">
            <h1>МЫ КОМАНДА СТУДЕНТОВ</h1>
            <h3>STOM.i - это онлайн-платформа, предназначенная для студентов стоматологического факультета. Здесь собраны учебные материалы на самые разнообразные темы в области стоматологиии, которые помогут специалистам поддерживать свои знания и навыки на акетуальном уровне.</h3>
        </div>
        <div class="col-otstup"></div>
        <div class="col-1-3">
            <h1>ПОПРОБУЙ ПРОЙТИ ТЕСТ ПО НОВОЙ ТЕМЕ</h1>
            <a class="silka" href="{% url 'test' %}"><h3>перейти</h3><img src="{% static 'images/oll/strelka.png' %}" width="50px" height="50px"></a>
        </div>
    </div>
</div>
{% endblock %}