
.container div {
    float: left;
    margin-bottom: 15px;
  }
  
  .col-1-1 {
      height: 800px;
      width: 31%;
      margin: auto;
      word-break: break-word;
      position: relative;
      display: inline-block;

      
  }
  
  .col-1-2 {
      height: 800px;
      width: 31%;
      margin: auto;
      word-break: break-word;
      position: relative;
      display: inline-block;

  }
  
  .col-1-3 {
      height: 800px;
      width: 31%;
      margin: auto;
      word-break: break-word;
      position: relative;
      display: inline-block;

  }
  .col-otstup {
      height: 800px;
      width: 3%;
      margin: auto;
  }
  
  h1{
      text-align: center;
  }
  .silka{
      float: right;
      margin-top: 20%;
      color: white
  }