body{
    background-image: url("../images/logo/background.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed; 
    background-size: cover;
  }
