<!DOCTYPE html><!-- строчка говорящая о работе в HTML5 -->
{% load static %}
<html><!-- начало HTML документа(любого) -->
    <head><!-- содержит метаданные веб-страницы - заголовок веб-страницы, тип кодировки и т.д. -->
        <meta charset="utf-8"><!-- указываем кодировку -->
        <meta name="description" content="Первый документ HTML5"><!-- Краткое описание страници -->
        <meta name="keywords" Content ="рога, копыта, рожки, рог, копыто, копытце,"><!--Ключевые слова веб-страницы-->
        <meta http-equiv ="Page-Enter" Content="RevealTrans(Duration=1.0, Transition=0)"><!-- Эффект появления страницы -->
        <meta http-equiv ="Page- Exit " Content="RevealTrans(Duration=3.0, Transition=23)"><!-- Эффект исчезновения страницы  -->
        <title>Документ HTML5</title><!-- элемент title представляет заголовок страницы -->
        <!-- Всё что находится внутри стаила надо перенести в статик фаил-->
    </head>
    <body bgcolor="green"><!-- Часть с текстом и остальным -->
        <!--Верхняя часть страницы: логотип, контакты-->
        {% include "includes/header.html" %}
        <main>
            <div>{% block content %}Контента пока нет :( {% endblock %}</div>
        </main>
        {% include "includes/footer.html" %}   
        <script src="{% static 'js/menu.js' %}"></script>
    </body>
</html>

  