{% extends "base.html" %}
{% load static %}
{% block content %}
<style type="text/css">
	@page { size: 8.27in 11.69in; margin: 1in }
	p 
	{ 
		line-height: 115%; 
		text-align: left; 
		orphans: 2; 
		widows: 2; 
		margin-bottom: 0in;
		direction: ltr; 
		background: transparent 
	}
	main 
	{
		font-size: 14pt;
		size: "4";
		color: #000 ;
		font-family: "Times New Roman" ;
	}
</style>

<main lang="ru-RU" link="#000080" vlink="#800000" dir="ltr"><p>
	<i><u><b>Основные
	этапы развития зубов</b></u></i></p>
	<p><i>Выделяют
	4 периода:</i></p>
	<ol>
		<li><p>Закладка
		зубных зачатков</p></li>
		<li><p>Формирование
		и дифференцировка зубных зачатков</p></li>
		<li><p>Гистогенез</p></li>
		<li><p>Развитие
		корня</p></li>
	</ol>
	
	<p><br/>
	</p>
	
	<p style="text-indent: 0.5in;"><span lang="ru-RU"><b>1)</b></span><span lang="ru-RU"><i><b>
	</b></i></span><i><b>Закладка
	зубных зачатков</b></i></p>
	
	<p>Происходит
	на 6-8 неделе эмбрионального развития.</p>
	<p>На
	многослойном плоском эпителии ротовой
	ямки образуется <i>зубной
	валик</i>.
	Он врастает в мезенхиму и делится на 2
	пластинки - проксимальная (вестибулярная)
	и дистальная (зубная).</p>
	<p><i>Проксимальная
	пластинка</i>
	- отделяет закладку губ и щек от зачатков
	десен.</p>
	<p><i>Дистальная
	пластинка</i>
	- образует зубную почку, дающую начало
	эмалевому органу.</p>
	<p>Нижняя
	часть зубной почки вдавливается внутрь,
	в результате чего образуются <i>зубной
	сосочек</i>
	и <i>шейка
	эмалевого органа</i>.
	Вокруг эмалевого органа образуется
	скопление мезенхимы - <i>зубной
	мешочек</i>.</p>
	<p><img src="{% static 'images/anatomia_img/a_1.png' %}" align="bottom" width="498" height="252" border="0"/>
	</p>
	<p style="text-indent: 0.5in;"><span lang="ru-RU"><b>2)</b></span><i><b>
	Формирование и дифференцировка зубных
	зачатков</b></i></p>	<p>Происходит
	на 12-14 неделе эмбрионального развития.</p>
	<p>Из
	первоначально однотипных клеток
	эмалевого органа и зубного сосочка
	выделяются различные по форме и функциям
	клеточные элементы. На поверхности
	зубного сосочка образуются <i>преодонтобласты</i>,
	внутренний эпителий эмалевого органа
	дает начало <i>энамелобластам</i>,
	пульпа эмалевого органа - <i>кутикуле</i>,
	зубной мешочек - <i>цементобластам</i>,
	зубной сосочек - <i>пульпе
	зуба</i>.
	Зубной сосочек увеличивается в размерах.</p>
	<p><img src="{% static 'images/anatomia_img/a_2.png' %}" name="image24.png" align="bottom" width="602" height="453" border="0"/>
	</p>
	<p style="text-indent: 0.5in;"><b>3</b><span lang="ru-RU"><b>)</b></span><i><b>
	Гистогенез</b></i></p>
	<p>Начинается
	на 4 месяце эмбрионального развития и
	заканчивается после рождения.</p>
	<p>Первым
	появляется <i>дентин</i>
	- преодонтодласты преобразуются в
	одонтобласты и начинается синтез
	основного вещества дентина, отростки
	одонтобластов синтезируются в основном
	веществе, образуя канальцы. Обызвествление
	дентина происходит на 5 месяце
	эмбрионального развития.</p>
	<p>Второй
	появляется <i>эмаль</i>.</p>
	<p style="text-indent: 0.5in;"><b>4</b><span lang="ru-RU"><b>)</b></span><i><b>
	Развитие корня</b></i></p>
	<p>Корень
	начинает развиваться в постнатальном
	периоде незадолго до прорезывания.</p>
	<p>На
	стыке внутреннего и наружного эпителия
	эмалевого органа располагается <i>шеечная
	петля</i>,
	от которой растет <i>эпителиальное
	гертвиговское влагалище</i>.
	От его расположения зависит длина и
	форма корня зуба. По ходу влагалища
	удлиняется пульпа корня. С внутренней
	стороны влагалища находятся одонтобласты,
	синтезирующие <i>дентин</i>,
	с наружной стороны - клетки прилежащего
	зубного мешочка дифференцируются в
	цементобласты и синтезируют <i>цемент
	корня зуба</i>.</p>
	<p>Окончательное
	формирование корня зуба и закрытие
	верхушки корня зуба происходит уже
	после прорезывания зуба. 
	</p>
	<p><img src="{% static 'images/anatomia_img/a_3.png' %}" name="image23.png" align="bottom" width="456" height="416" border="0"/>
	</p>
	<p><br/>
	
	</p>
	<p><br/>
	
	</p>
	<p><i><u><b>Зубы
	и их анатомия</b></u></i></p>
	<p><i><b>Зубы</b></i>
	(лат. dens, dentis) - органы
	в ротовой полости человека, располагаются
	в альвеолах челюстей и участвуют в
	механической обработке пищи и артикуляции.</p>
	<p>В
	постоянном прикусе в полости рта
	находятся 32 зуба, включая 4 зуба мудрости.</p>
	<p><i><b>Функции
	зубов:</b></i></p>
	<ol>
		<li><p>Механическая
		- обработка пищи.</p></li>
		<li><p>Коммуникативная
		- формирование звуков.</p></li>
		<li><p>Опорная
		- стабилизация верхней и нижней челюсти
		относительно друг друга.</p></li>
		<li><p>Эстетическая
		- психологический комфорт человека.</p></li>
	</ol>
	<p><br/>
	
	</p>
	
	<p><i><b>Части
	зуба:</b></i></p>
	<p>⦁ <i>Коронка</i>
	- часть зуба, выступающая над десной.</p>
	<p>⦁ <i>Корень</i>
	- часть, расположенная глубоко в костной
	альвеоле и покрытая десной.</p>
	<p>⦁ <i>Шейка</i>
	- область перехода коронки в корень
	зуба.</p>
	<ol>
		<li><p><i>Клиническая
		шейка</i>
		- соответствует краю десны.</p></li>
		<li><p><i>Анатомическая
		шейка</i>
		- место перехода эмали в цемент (коронки
		в корень зуба).</p></li>
	</ol>
	<p>Коронка
	зуба покрыта <i>эмалью</i>,
	а корни - <i>цементом</i>.
	Основную массу зуба образует <i>дентин</i>.
	Дентин окружает пульпарную полость,
	включающую полости коронки и канала
	корня зуба и заполненную <i>пульпой</i>
	- рыхлой волокнистой соединительной
	тканью с сосудами и нервами, которые
	входят в пульпу через апикальные
	отверстия на вершине корней. В альвеолах
	челюстей зубы фиксируются <i>периодонтом</i>
	- плотной волокнистой соединительной
	тканью, образующей в области шейки зуба
	связку. Коллагеновые волокна зубной
	связки имеют преимущественно радиальное
	направление и проникают в цемент и
	альвеолярную кость. В периодонте проходят
	кровеносные сосуды, питающие корень
	зуба.</p>
	<p><img src="{% static 'images/anatomia_img/a_4.png' %}" name="image11.png" align="bottom" width="487" height="434" border="0"/>
	</p>
	<p><i><b>Группы
	зубов и их анатомия:</b></i></p>
	<p><span lang="ru-RU"><b>1)</b></span><i><b>
	Центральные резцы</b></i><i>
	- </i>dentes
	incisivi medialis</p>
	<p><i>На
	верхней челюсти</i>
	- 1 корень, 1 канал.</p>
	<p><img src="{% static 'images/anatomia_img/a_5_7.png' %}" name="image22.png" align="bottom" width="318" height="142" border="0"/>
	</p>
	<p><i>На
	нижней челюсти</i>
	- 1 корень, чаще - 1 канал, реже - 2 канала;
	по размеру меньше резцов верхней челюсти.</p>
	<p><img src="{% static 'images/anatomia_img/a_6_8.png' %}" name="image9.png" align="bottom" width="359" height="161" border="0"/>
	</p>
	<p>Функция:
	захватывание и разрезание пищи.</p>
	<p><span lang="ru-RU"><b>2)</b></span><i><b>
	Латеральные резцы</b></i><i>
	- </i>dentes
	incisivi lateralis</p>
	<p><i>На
	верхней челюсти</i>
	- 1 корень, 1 канал.</p>
	<p><img src="{% static 'images/anatomia_img/a_5_7.png' %}" name="Image2" align="bottom" width="323" height="132" border="0"/>
	</p>
	<p><i>На
	нижней челюсти</i>
	- чаще 1 корень и 1 канал, реже - 2 корня и
	2 канала, еще реже - 2 корня, сходящиеся
	у верхушки.</p>
	<p><img src="{% static 'images/anatomia_img/a_6_8.png' %}" name="image2.png" align="bottom" width="359" height="161" border="0"/>
	</p>
	<p>Функция:
	захватывание и разрезание пищи.</p>
	<p><span lang="ru-RU"><b>3)</b></span><i><b>
	Клыки</b></i><i>
	- </i>dentes
	canini</p>
	<p><i>На
	верхней челюсти</i>
	- 1 корень, 1 канал; самый длинные зубы.</p>
	<p><img src="{% static 'images/anatomia_img/a_9.png' %}" name="image8.png" align="bottom" width="401" height="169" border="0"/>
	</p>
	<p><i>На
	нижней челюсти</i>
	- обычно 1 корень и 1 канал, очень редко
	- 2 канала.</p>
	<p><img src="{% static 'images/anatomia_img/a_10.png' %}" name="image6.png" align="bottom" width="408" height="174" border="0"/>
	</p>
	<p>Функция:
	разрывание и удержание пищи.</p>
	<p><span lang="ru-RU"><b>1)</b></span><i><b>
	Премоляры</b></i>
	- dentes praemolares</p>
	<ol>
		<li><p><i>Первые
		премоляры</i></p></li>
	</ol>
	<p style="margin-left: 0.5in;"><i>На
	верхней челюсти</i>
	- форма коронки – закругленный
	прямоугольник, 2 бугра – вестибулярный
	и небный, приблизительно равные по
	высоте. Коронка несколько напоминает
	клык. 79% - 2 корня и 2 канала (щечный и
	небный), 18% - 1 корень и 1 канал; 3% - 3 корня
	и 3 канала (небный, мезиальный щечный,
	дистальный щечный).</p>
	<p style="margin-left: 0.5in;"><img src="{% static 'images/anatomia_img/a_11.png' %}" name="image21.png" align="bottom" width="332" height="171" border="0"/>
	</p>
	<p style="margin-left: 0.5in;"><i>На
	нижней челюсти</i>
	- коронка округлой формы, напоминает
	клык. 2 бугра – щечный и язычный. Язычный
	бугор всегда меньше щечного, фиссура
	располагается ближе к язычному бугру.
	Иногда от середины щечного бугра к
	середине язычного бугра проходит
	эмалевый валик. 74% - 1 корень и 1 канал;
	26% - 1 корень и 2 канала.</p>
	<p style="margin-left: 0.5in;"><img src="{% static 'images/anatomia_img/a_12.png' %}" name="image1.png" align="bottom" width="362" height="170" border="0"/>
	</p>
	<ol start="2">
		<li><p><i>Вторые
		премоляры</i></p></li>
	</ol>
	<p style="margin-left: 0.5in;"><i>На
	верхней челюсти</i>
	- по форме почти не отличается от 1-го
	премоляра, но больше напоминает моляр,
	чем клык. 56% - 1 корень и 1 канал; 42% - 2 корня
	и 2 канала (щечный и небный), 2% - 3 корня и
	3 канала (небный, мезиальный щечный,
	дистальный щечный).</p>
	<p style="margin-left: 0.5in;"><img src="{% static 'images/anatomia_img/a_13_14.png' %}" name="image12.png" align="bottom" width="308" height="131" border="0"/>
	</p>
	<p style="margin-left: 0.5in;"><i>На
	нижней челюсти</i>
	- несколько крупнее первых премоляров,
	коронка напоминает моляр, 97% - 1 корень
	и 1 канал; 3% - 1 корень и 2 канала.</p>
	<p style="margin-left: 0.5in;"><img src="{% static 'images/anatomia_img/a_13_14.png' %}" name="image10.png" align="bottom" width="300" height="131" border="0"/>
	</p>
	<p>Функция:
	измельчение и перетирание пищи.</p>
	<p><span lang="ru-RU">5)
	</span><i><b>Моляры</b></i><i>
	- </i>dentes
	molares</p>
	<ol>
		<li><p><i>Первые
		моляры</i></p></li>
	</ol>
	<p style="margin-left: 0.5in;"><i>На
	верхней челюсти</i>
	- жевательная поверхность имеет форму
	ромба с 4-мя буграми. На переднеязычном
	бугре может быть добавочный бугор -
	бугорок Карабелли. 3 корня: небный,
	мезиальный щечный, дистальный щечный.
	56% - 4 канала (1- в небном корне, 1 – в
	дистальном щечном корне, 2 – в мезиальном
	щечном корне).</p>
	<p style="margin-left: 0.5in;"><img src="{% static 'images/anatomia_img/a_15_17.png' %}" name="image17.png" align="bottom" width="302" height="127" border="0"/>
	</p>
	<p style="margin-left: 0.5in;"><i>На
	нижней челюсти</i>
	- коронка прямоугольной формы, с 5-ю
	буграми (3 щечных бугра, 2 язычных). 2 корня
	– мезиальный и дистальный. 65% - 3 канала
	(1 – в дистальном корне, 2 – в мезиальном
	корне), 29% - 4 канала (2 – в дистальном, 2 –
	в мезиальном), 6% - 2 канала.</p>
	<p style="margin-left: 0.5in;"><img src="{% static 'images/anatomia_img/a_16_18.png' %}" name="image3.png" align="bottom" width="293" height="140" border="0"/>
	</p>
	<p style="margin-left: 0.5in;"><br/>
	
	</p>
	<ol start="2">
		<li><p><i>Вторые
		моляры</i></p></li>
	</ol>
	<p style="margin-left: 0.5in;"><i>На
	верхней челюсти</i>
	- форма коронки напоминает первый моляр,
	но без бугорка Карабелли. Может быть
	вытянута в мезио-дистальном направлении.
	65% - 3 корня и 3 канала; 35% - 3 корня и 4 канала.</p>
	<p style="margin-left: 0.5in;"><img src="{% static 'images/anatomia_img/a_15_17.png' %}" name="image18.png" align="bottom" width="299" height="127" border="0"/>
	</p>
	<p style="margin-left: 0.5in;"><i>На
	нижней челюсти</i>
	- коронка прямоугольной формы с четырьмя
	буграми, крестообразная фиссура. 72% - 2
	корня и 3 канала, 28% - 4 канала.</p>
	<p style="margin-left: 0.5in;"><img src="{% static 'images/anatomia_img/a_16_18.png' %}" name="image4.png" align="bottom" width="309" height="140" border="0"/>
	</p>
	<p style="text-indent: 0.5in;">Функция:
	пережевывание пищи.</p>
	<p><br/>
	
	</p>
	<p><i>Экватор</i>
	– наиболее выпуклая часть зуба, которая
	необходима для защиты десны от пищевого
	комка. Как правило, экватор располагается
	на границе верхней и средней 1/3 коронки.
	
	</p>
	<p>Наличие
	выпуклости обеспечивает создание
	межзубных контактов - <i>контактных
	пунктов</i>.
	В результате между зубами создается
	треугольное пространство, заполненное
	межзубным сосочком. Таким образом,
	контактный пункт защищает межзубной
	сосочек и способствует равномерному
	распределению жевательного давления.
	
	</p>
	<p>На
	жевательной поверхности моляров и
	премоляров, на границе перехода в
	мезиальную или дистальную поверхность,
	располагается эмалевый валик - <i>краевой
	гребень</i>.
	Его физиологическое значение заключается
	в предотвращении попадания пищи в
	межзубной промежуток.</p>
	<p><i><b>Признаки:</b></i></p>
	<ol>
		<li><p><i>Угла
		коронки</i>
		– угол, образованный мезиальной
		поверхностью и режущим краем коронки
		зуба, всегда более острый, чем угол,
		образованный дистальной поверхностью
		и режущим краем зуба.</p></li>
		<li><p><i>Кривизны
		коронки</i>
		– наибольшая выпуклость коронки на
		вестибулярной поверхности располагается
		мезиально.</p></li>
		<li><p><i>Корня</i>
		– корни зубов отклонены дистально по
		отношению к оси коронки зуба.</p></li>
	</ol>
	<p><br/>
	
	</p>
	<p><i><u><b>Пародонт</b></u></i></p>
	<p> – сложный
	морфофункциональный комплекс тканей,
	окружающих и удерживающих зуб в альвеоле.
	
	</p>
	<p><i><b>К
	элементам пародонта относятся:</b></i><b>
	</b>
	</p>
	<p>⦁ десна</p>
	<p>⦁ костная
	ткань зубной альвеолы</p>
	<p>⦁ периодонт</p>
	<p>⦁ цемент
	корня зуба</p>
	<p>⦁ десневая
	жидкость</p>
	<p><img src="{% static 'images/anatomia_img/a_19.png' %}" name="image15.png" align="bottom" width="429" height="345" border="0"/>
	</p>
	<p><i><b>Функции
	пародонта:</b></i>
	
	</p>
	<ol>
		<li><p><i>Трофическая</i>
		
		</p></li>
		<li><p>Определяется
		хорошо выраженной разветвленной
		кровеносной и лимфатической сетью
		сосудов и содержанием различных видов
		нервных рецепторов. 
		</p></li>
		<li><p><i>Опорно-удерживающая</i></p></li>
		<li><p>Осуществляется
		сложной структурой связочного аппарата
		периодонта, десны и альвеолярного
		отростка, благодаря которой зуб
		фиксирован в альвеоле. Многочисленные
		коллагеновые волокна, расположенные
		между стенкой альвеолы и цементом
		корня, удерживают зуб в подвешенном
		состоянии. 
		</p></li>
		<li><p><i>Амортизирующая</i>
		
		</p></li>
		<li><p>Обеспечивает
		равномерное распределение силы
		жевательного давления по зубному ряду,
		альвеолярному отростку верхней челюсти
		и альвеолярной части нижней челюсти.
		Этому способствует наличие гидравлической
		подушки из рыхлой соединительной ткани,
		клубочковой сети кровеносных и
		лимфатических сосудов, а также тканевой
		жидкости. 
		</p></li>
		<li><p><i>Барьерная</i>
		
		</p></li>
		<li><p>Определяется
		морфологической целостностью тканей
		пародонта, защитными свойствами
		покровного эпителия десны, его
		способностью к ороговению, наличием
		плазматических, лимфоидных и тучных
		клеток, обеспечивающих постоянный
		фагоцитоз, содержанием ферментов и их
		ингибиторов, роданидов и других
		биологически активных веществ.</p></li>
		<li><p>Защитная
		функция десны проявляется и в эмиграции
		лейкоцитов в ротовую жидкость, которая
		осуществляется преимущественно
		десневыми сосочками. 
		</p></li>
		<li><p><i>Пластическая</i></p></li>
		<li><p>Обеспечивает
		высокую регенеративную способность
		тканей пародонта за счет содержания
		фибробластов, тучных клеток, цементо-
		и остеобластов, адвентициальных клеток,
		высокого уровня энергетических процессов
		и интенсивного транскапиллярного
		обмена. 
		</p></li>
		<li><p><i>Рефлекторная
		регуляция</i></p></li>
		<li><p>Осуществляется
		обширным нервно-рецепторным аппаратом
		пародонта и слизистой оболочки полости
		рта, регулирующим силу жевательного
		давления в зависимости от характера
		пищи, полноценности зубного ряда,
		пародонта и слизистой оболочки. 
		</p></li>
	</ol>
	<p><br/>
	
	</p>
	<p><i><b>Десна</b></i>
	на значительном протяжении лишена
	подслизистого слоя, и 
	</p>
	<p>слизистая
	оболочка плотно срастается с надкостницей
	альвеолярного отростка челюсти.
	<i>Многослойный
	плоский эпителий</i>
	покрывает альвеолярную часть десны. В
	норме происходит ороговение клеток
	многослойного плоского эпителия, что
	обеспечивает защитную функцию в ответ
	на химические, механические и другие
	раздражители. Нормальную плотность
	десны обеспечивают волокнистые структуры
	с преобладанием <i>коллагеновых
	волокон</i>.
	Образование и обновление коллагена
	осуществляют клеточные элементы, и
	прежде всего <i>фибробласты</i>.
	
	</p>
	<p style="margin-left: 0.5in;">⦁ <i>Краевая
	(свободная) десна</i>
	- часть десны, окружающая шейку зуба,
	не прикрепленная непосредственно к
	зубу и формирующая мягкотканную стенку
	десневой бороздки. Краевая десна
	ограничена десневым краем и десневой
	канавкой. 
	</p>
	<p style="margin-left: 0.5in;">⦁ <i>Десневая
	борозда</i>
	- пологая линия или вдавление на
	поверхности десны, разделяющая свободную
	десну от прикрепленной десны. Десневая
	канавка часто, но не всегда соответствует
	расположению дна десневой бороздки.
	Десневая канавка имеется не всегда. 
	</p>
	<p style="margin-left: 0.5in;">⦁
	<i>Кератинизированная
	десна</i>
	- полоска кератинизированной десны
	между десневым краем и слизисто-десневым
	соединением. 
	</p>
	<p style="margin-left: 0.5in;">⦁ <i>Прикрепленная
	десна</i>
	- часть десны, расположенная апикально
	от десневой канавки до слизисто-десневого
	соединения.</p>
	<p style="margin-left: 0.5in;"><img src="{% static 'images/anatomia_img/a_20.png' %}" name="image13.png" align="bottom" width="354" height="327" border="0"/>
	</p>
	<p><i><b>Периодонтальная
	связка</b></i>
	представлена коллагеновыми
	соединительнотканными волокнами,
	окружающими корень зуба и прикрепленными
	к альвеолярному отростку. В пародонтальной
	связке присутствует относительно
	небольшое количество <i>эластических
	волокон</i>.
	Некоторая эластичность является
	результатом веерообразной конфигурации
	<i>основных
	волокон</i>,
	которая способствует незначительной
	подвижности зуба под действием нагрузки.
	
	</p>
	<p><img src="{% static 'images/anatomia_img/a_21.png' %}" name="image5.png" align="bottom" width="460" height="185" border="0"/>
	</p>
	<p><i><b>Цемент</b></i>
	представляет собой кальцифицированную
	структуру, которая закрывает анатомические
	корни зубов и покрывает снаружи корень
	зуба. Цемент состоит из <i>кальцифицированной
	матрицы</i>,
	содержащей коллагеновые волокна.
	Неорганический компонент цемента
	составляет приблизительно 45-50%. В верхушке
	корня располагается клеточный цемент,
	а ближе к коронке - бесклеточный. <i>Клеточный
	цемент</i>
	содержит клетки цементоциты и похож по
	строению на грубоволокнистую костную
	ткань, но в отличие от нее не содержит
	сосудов. <i>Бесклеточный
	цемент</i>
	состоит только из межклеточного вещества,
	коллагеновые волокна которого продолжаются
	в периодонт и далее в кость альвеол.
	Питание цемента идет диффузно из сосудов
	пульпы и периодонта.</p>
	<p><br/>
	
	</p>
	<p><br/>
	
	</p>
	<p><i><u><b>Иннервация
	зубов и челюстей</b></u></i><span lang="ru-RU"><i><u><b>-</b></u></i></span></p>
	<p style="text-indent: 0.5in;"><span lang="ru-RU">-</span>осуществляется
	с помощью смешанных и двигательных
	нервов.</p>
	<p>К
	смешанным нервам относят - <i>тройничный</i>,
	<i>языкоглоточный</i>
	и <i>блуждающий
	нервы</i>.
	Они иннервируют кожу лица, мягкие ткани
	и органы полости рта, челюсти. К
	двигательным относится <i>подъязычный
	нерв</i>.</p>
	<p><i><b>Тройничный
	нерв</b></i>
	- n. trigeminus</p>
	<p>Нерв
	содержит двигательные, чувствительные
	и парасимпатические секреторные нервные
	волокна. От тройничного узла отходят 3
	ветви:</p>
	<ol>
		<li><p>Глазной
		нерв - n. ophtalmicus - в иннервации челюстей
		и тканей полости рта участия не принимает</p></li>
		<li><p>Верхнечелюстной
		нерв - n. maxillaris</p></li>
		<li><p>Нижнечелюстной
		нерв - n. mandibularis</p></li>
	</ol>
	<p><i><b>Верхнечелюстной
	нерв</b></i>
	– чувствительный, вторая ветвь тройничного
	нерва. Выходит из черепа через <i>круглое
	отверстие</i>
	и попадает в <i>крылонебную
	ямку</i>,
	проходит сзади наперед и изнутри кнаружи.
	В пределах крыло-небной ямки отдает
	ветвь к твердой мозговой оболочке и
	разделяется на 3 ветви: 
	</p>
	<ol>
		<li><p><i>Крыло-небные
		нервы</i>
		– идут к крылонебному узлу, от которого
		отходят: глазничные ветви, задние
		верхние носовые ветви (в т.ч. носонебный
		нерв – идет к резцовому каналу,
		иннервирует слизистую оболочку неба
		от клыка до клыка), небные нервы (большой
		небный нерв – выходит на небо через
		большое небное отверстие, иннервирует
		слизистую оболочку от клыка до мягкого
		неба; малые небные нервы – выходят
		через малое небное отверстие, иннервируют
		мягкое небо и небную миндалину; нижние
		задние боковые носовые ветви).</p></li>
		<li><p><i>Скуловой
		нерв</i>
		- проникает через нижнюю глазничную
		щель в глазницу, идет в ней и выходит
		через скуло-орбитальное отверстие и
		разделяется на 2 ветви: скуло-лицевая
		ветвь выходит через скулолицевое
		отверстие, иннервирует кожу верхней
		части щеки и наружный угол глаза;
		скуловисочная ветвь – иннервирует
		височную и лобную область.</p></li>
		<li><p><i>Нижнеглазничный
		нерв</i>
		– идет в нижнеглазничную щель, ложится
		в подглазничную борозду и выходит через
		подглазничное отверстие. На своем пути
		отдает следующие ветви: 
		</p></li>
	</ol>
	<p style="margin-left: 0.5in;"><i>1)
	задние верхние луночковые ветви</i>
	– ответвляются в крыло-небной ямке,
	идут по задней поверхности бугра верхней
	челюсти к альвеолярному отростку,
	иннервирует моляры, вплетаясь в верхнее
	зубное сплетение, от которого отходят
	верхние десневые ветви (к десне и
	пародонту) и верхние зубные ветви (к
	апикальным отверстиям зубов)</p>
	<p style="margin-left: 0.5in;"><i>2)
	средняя верхняя луночковая ветвь</i>
	– отходит в крыло-небной ямке или в
	пределах глазницы м ветвится в костной
	ткани альвеолярного отростка, вплетаясь
	в верхнее зубное сплетение, иннервирует
	премоляры 
	</p>
	<p style="margin-left: 0.5in;"><i>3)
	передние верхние луночковые ветви</i>
	– отходят в передней части глазницы,
	иннервируют верхние клыки и резцы,
	посылают ветвь к слизистой оболочке
	носа. - по выходе из подглазничного
	отверстия нижнеглазничный нерв
	разветвляется, образуя малую гусиную
	лапку (нижние вековые ветви, наружные
	носовые ветви, внутренние носовые ветви,
	верхние губные ветви).</p>
	<p><i><b>Нижнечелюстной
	нерв</b></i>
	– третья ветвь тройничного нерва.
	Выходит из черепа через <i>овальное
	отверстие</i>
	и попадает в <i>подвисочную
	ямку</i>,
	где разделяется на мышечные и чувствительные
	ветви. 
	</p>
	<p><i><b>К
	мышечным ветвям относятся:</b></i></p>
	<ol>
		<li><p>Ветвь
		мозговой оболочки</p></li>
		<li><p>Жевательный
		нерв – двигательный, иннервирует
		жевательную мышцу</p></li>
		<li><p>Глубокие
		височные нервы – двигательные,
		иннервируют жевательную мышцу с
		внутренней стороны</p></li>
		<li><p>Латеральный
		крыловидный нерв – двигательный,
		иннервирует латеральную крыловидную
		мышцу</p></li>
		<li><p>Медиальный
		крыловидный нерв – двигательный,
		иннервирует медиальную крыловидную
		мышцу, отдает ветви к барабанной струне
		и небной занавеске</p></li>
		<li><p>Нерв
		мышцы, напрягающей небную занавеску</p></li>
		<li><p>Челюстно-подъязычный
		нерв</p></li>
	</ol>
	<p><i><b>Чувствительные
	ветви:</b></i></p>
	<ol>
		<li><p><i>Щечный
		нерв</i>
		– проходит между двумя головками
		латеральной крыловидной мышцы, идет
		по внутренней поверхности височной
		мышцы и разветвляется по наружной
		поверхности щечной мышцы до угла рта,
		отдает ветви, иннервирующие слизистую
		оболочку щеки и десны от 2-го моляра до
		2-го премоляра</p></li>
		<li><p><i>Ушно-височный
		нерв</i>
		– отдает ветви к суставу, к околоушной
		слюнной железе, к наружному слуховому
		проходу и к коже переднего отдела ушной
		раковины.</p></li>
		<li><p><i>Язычный
		нерв</i>
		– отходит от общего ствола вблизи
		овального отверстия на одном уровне с
		нижним луночковым нервом. Располагается
		между крыловидными мышцами впереди
		его. У верхнего края медиальной
		крыловидной мышцы к язычному нерву
		присоединяется <i>барабанная
		струна</i>
		(chorda tympani). Далее располагается между
		внутренней поверхностью ветви нижней
		челюсти и внутренней крыловидной
		мышцей. Впереди от переднего края этой
		мышцы идет над поднижнечелюстной
		слюнной железой по наружной поверхности
		подъязычно-язычной мышцы, огибает
		снаружи и снизу выводной проток
		поднижнечелюстной слюнной железы и
		вплетается в боковую поверхность языка.
		Во рту отдает ряд ветвей - ветви перешейка
		зева, подъязычный нерв, язычные ветви.
		
		</p></li>
	</ol>
	<p style="margin-left: 0.5in;"><i>Иннервирует</i>:
	слизистую оболочка зева, подъязычной
	области, слизистую десны нижней челюсти
	с язычной стороны, слизистую оболочка
	передних двух третей языка, подъязычную
	слюнную 
	</p>
	<p style="text-indent: 0.5in;">железу,
	сосочки языка.</p>
	<ol start="4">
		<li><p><i>Нижний
		альвеолярный нерв</i>
		- наиболее крупная ветвь нижнечелюстного
		нерва. Ствол его лежит на внутренней
		поверхности наружной крыловидной мышцы
		позади и латеральнее язычного нерва.
		Проходит в межкрыловидном клетчаточном
		промежутке, образованном латеральной
		крыловидной мышцей снаружи и медиальной
		крыловидной мышцей, а затем в
		крыловидно-челюстном клетчаточном
		пространстве. Через <i>нижнечелюстное
		отверстие</i>
		(foramen mandibulae) входит в <i>нижнечелюстной
		канал</i>
		(canalis mandibularis). В нем нижний луночковый
		нерв отдает ветви, которые, анастомозируя
		между собой, образуют <i>нижнее
		зубное сплетение</i>
		(plexus dentalis inferior) или непосредственно
		нижние зубные и десневые ветви.</p></li>
	</ol>
	<p style="margin-left: 0.5in;"><i>Иннервирует</i>:
	зубы, слизистую оболочку альвеолярного
	отростка и десны нижней челюсти с
	вестибулярной стороны. 
	</p>
	<ol>
		<li><p><i>Подбородочный
		нерв</i>
		(n. mentalis) - крупная ветвь, отходящая на
		уровне малых коренных зубов от нижнего
		луночкового нерва. Подбородочный нерв
		выходит через подбородочное отверстие.
		После его отхождения участок нижнего
		альвеолярного нерва называется резцовой
		ветвью нижнего альвеолярного нерва. 
		</p></li>
	</ol>
	<p style="margin-left: 1in;"><i>Иннервирует</i>:
	кожу и слизистую оболочку нижней губы,
	кожу подбородка. 
	</p>
	<ol start="2">
		<li><p><i>Резцовая
		ветвь </i>(ramus
		incisivus) - иннервирует клык и резцы,
		слизистую оболочку альвеолярного
		отростка и десны с вестибулярной стороны
		в области этих зубов. Анастомозирует
		с одноименной ветвью противоположной
		стороны в области средней линии.</p></li>
	</ol>
	<p><img src="{% static 'images/anatomia_img/a_22.png' %}" name="image7.png" align="bottom" width="322" height="411" border="0"/>
	</p>
	<p><i><b>Языкоглоточный
	нерв</b></i>
	- n. glossopharyngeus</p>
	<p>Является
	смешанным нервом - содержит двигательные,
	чувствительные и парасимпатические
	волокна. Выходит из мозга 4-6 корешками
	<i>позади
	оливы</i>.
	Выходит из черепа через <i>передний
	отдел яремного отверстия</i>.
	На своем пути отдает ряд ветвей:</p>
	<ol>
		<li><p><i>Ветви,
		начинающиеся от нижнего ганглия</i></p></li>
	</ol>
	<ol>
		<li><p><i>Барабанный
		нерв</i>
		- идет в барабанную полость височной
		кости, образует барабанное сплетение</p></li>
		<li><p><i>Малый
		каменистый нерв</i>
		- продолжается после барабанного
		сплетения, соединяется с ветвью большого
		каменистого нерва, выходит из полости
		черепа через каменистоклиновидную
		щель</p></li>
	</ol>
	<ol start="2">
		<li><p><i>Ветви,
		начинающиеся от ствола языкоглоточного
		нерва</i></p></li>
	</ol>
	<ol>
		<li><p><i>Глоточные
		ветви</i>
		- идут к боковой поверхности глотки,
		где, соединяясь с одноименными ветвями,
		образуют глоточное сплетение</p></li>
		<li><p><i>Сонная
		ветвь</i>
		- идет в стенке сонного синуса и сонного
		клубочка синокаротидной зоны, участвует
		в регуляции артериального давления</p></li>
		<li><p><i>Ветвь
		шилоглоточной мышцы</i>
		- иннервирует одноименную мышцу</p></li>
		<li><p><i>Ветви
		миндалин</i>
		- иннервируют слизистую оболочку небных
		дужек и миндалины</p></li>
		<li><p><i>Язычные
		ветви</i>
		- являются конечными ветвями нерва,
		идут через толщу языка, разделяются на
		мелкие ветви и заканчиваются в слизистой
		оболочки задней трети языка</p></li>
	</ol>
	<p><i>Иннервирует</i>:
	шилоглоточную мышцу, околоушную слюнную
	железу, глотку, миндалины, мягкое небо,
	евстахиеву трубу, барабанную полость,
	заднюю треть языка.</p>
	<p><img src="{% static 'images/anatomia_img/a_23.png' %}" name="image19.png" align="bottom" width="465" height="336" border="0"/>
	</p>
	<p><i><b>Блуждающий
	нерв</b></i>
	- n. vagus</p>
	<p>Является
	смешанным нервом - содержит двигательные,
	чувствительные и парасимпатические
	волокна. От мозга направляется к брюшной
	полости и является <i>самым
	длинным</i>
	из всех черепных нервов. Идет из толщи
	продолговатого мозга <i>позади
	оливы</i>.
	Из черепа выходит через <i>переднюю
	часть яремного отверстия</i>
	вместе с языкоглоточным нервом. По
	своему ходу блуждающий нерв делится на
	4 отдела: головной, шейный, грудной и
	брюшной. В контексте стоматологии больше
	внимания уделяют головному отделу.</p>
	<p><i><b>Головной
	отдел</b></i>
	
	</p>
	<ul>
		<li><p>самый
		короткий отдел. От него отходят следующие
		ветви:</p></li>
	</ul>
	<ol>
		<li><p><i>Менингеальная
		ветвь</i>
		- иннервирует твердую мозговую оболочку
		головного мозга</p></li>
		<li><p><i>Ушная
		ветвь</i>
		- делится еще на 2 ветви, которые появляются
		позади наружного уха; первая ветвь
		соединяется с задним ушным нервом от
		лицевого нерва, вторая - иннервирует
		кожу задней стенки наружного слухового
		прохода</p></li>
		<li><p><i>Соединительная
		ветвь с языкоглоточным нервом</i></p></li>
		<li><p><i>Соединительная
		ветвь с добавочным нервом</i></p></li>
	</ol>
	<p><i>Иннервирует</i>:
	мышцы мягкого неба, глотки, гортани,
	участка кожи за ухом и части наружного
	слухового канала, барабанной перепонки
	и твердой мозговой оболочки задней
	черепной ямки.</p>
	<p><img src="{% static 'images/anatomia_img/a_24.png' %}" name="image14.png" align="bottom" width="467" height="364" border="0"/>
	</p>
	<p><i><b>Подъязычный
	нерв</b></i>
	- n. hypoglossus</p>
	<p>От
	подъязычного нерва отходят двигательные
	волокна, идущие к мышцам языка и
	обеспечивающие их движение. Из мозга
	нерв выходит из <i>борозды
	между пирамидой и оливой продолговатого
	мозга</i>.
	Вступив в мышцы языка отдает язычные
	ветви. По своему ходу языкоглоточный
	нерв отдает ряд ветвей:</p>
	<ol>
		<li><p><i>Соединительная
		ветвь с верхним шейным ганглием
		симпатического ствола</i></p></li>
		<li><p><i>Соединительная
		ветвь с нижним узлом блуждающего нерва</i></p></li>
		<li><p><i>Соединительная
		ветвь с язычной ветвью нижнечелюстного
		нерва от тройничного нерва</i></p></li>
		<li><p><i>Соединительная
		ветвь с шейной петлей</i></p></li>
	</ol>
	<p>Также
	нерв отдает ветви к твердой мозговой
	оболочке поперечного синуса.</p>
	<p><i>Иннервирует</i>:
	собственные мышцы языка, вплетающиеся
	в язык скелетные мышцы.</p>
	<p><img src="{% static 'images/anatomia_img/a_25.png' %}" name="image20.png" align="bottom" width="380" height="279" border="0"/>
	</p>
</main>
{% endblock %}