{% extends "base.html" %}
{% load static %}
{% block content %}
<style type="text/css">
    @page { size: 8.27in 11.69in; margin: 1in }
    p 
    { 
        line-height: 115%; 
        text-align: left; 
        orphans: 2; 
        widows: 2; 
        margin-bottom: 0in; 
        direction: ltr; 
        background: transparent
    }
    body 
    {		
        font-size: 14pt;
        size: "4";
        color: #000 ;
        font-family: "Times New Roman" ;
    }
</style>

<body lang="ru-RU" link="#000080" vlink="#800000" dir="ltr"><p align="center" >
    <i><b>Кариесология:
    классификация пломбировочных материалов,
    инструментарий</b></i></p>
    <p ><br/>
    
    </p>
    <p align="center" ><i><b>Теория
    кариеса:</b></i></p>
    <p style="line-height: 150%; margin-right: -0.31in; margin-bottom: 0in">
    <b>Кариес</b>
    - патологический процесс в твердых
    тканях зуба, характеризующийся очаговой
    деминерализацией и возникающий под
    воздействием нескольких факторов, и
    завершающийся, как правило, деструкцией
    тканей с образованием дефекта в виде
    полости.</p>
    <p ><br/>
    
    </p>
    <p ><b>Что
    же такое деминерализация?</b></p>
    <p ><b>Деминерализация</b>
    - процесс вымывания из эмали минералов.
    В результате нее ткани зуба теряют свою
    прочность, становятся пористыми:</p>
    <p ><img src="{% static 'images/cariesology_img/Кариесология_html_2d107548781b3148.png' %}" name="image52.png" align="bottom" width="572" height="282" border="0"/>
    </p>
    <p ><br/>
    
    </p>
    <p >Противоположным
    этому процессу является реминерализация
    эмали - процесс возвращения в кристаллическую
    решетку зуба утраченных минералов:</p>
    <p align="center" style="line-height: 150%; margin-left: -0.1in; margin-bottom: 0in">
    <img src="{% static 'images/cariesology_img/Кариесология_html_5495f7523b003c78.png' %}" name="image59.png" align="bottom" width="644" height="272" border="0"/>
    </p>
    <p ><br/>
    
    </p>
    <p align="center" ><i><b>Этиология
    кариеса:</b></i></p>
    <p >Основной
    теорией возникновения кариеса является
    микробная теория. Согласно ей, кариес
    возникает в результате патогенного
    воздействия микробов зубного налета
    на эмаль зуба в тех участках, где есть
    условия для их размножения и питания.</p>
    <p >Важно
    понимать, что сами по себе микробы
    зубного налета не вызывают кариес. Для
    его возникновения нужно, чтобы были
    соблюдены следующие условия:</p>
    <p>
    -
    наличие кариесогенных микробов</p>
    <p>
    -
    наличие легкоусвояемых углеводов 
    </p>
    <p>
    -
    снижения устойчивости твердых тканей
    к воздействию кариесогенных факторов
    (кариесрезистентность)</p>
    <p>
    -
    время</p>
    <p ><br/>
    
    </p>
    <p align="center" ><img src="{% static 'images/cariesology_img/Кариесология_html_915e128ff429552a.png' %}" name="image55.png" align="bottom" width="536" height="422" border="0"/>
    </p>
    <p ><br/>
    
    </p>
    <p align="center" ><i><b>Патогенез
    кариеса:</b></i></p>
    <p >Как
    же возникает кариес? При приеме
    легкоусвояемых углеводистой пищи
    происходит ее ферментация кариесогенными
    микробами, в результате чего происходит
    выделение различных органических кислот
    (молочной, пировиноградной, пропионовой,
    муравьиной и тд.). Эти кислоты с течением
    времени накапливаются и проникают в
    твердые ткани зуба, оказывая разрешающее
    (деминерализующее) действие на
    кристаллическую решетку зуба. Возникают
    поры, участки повышенной проницаемости
    эмали и возникает начальный кариес.</p>
    <p style="line-height: 150%; text-indent: 0.2in; margin-left: -0.39in; margin-bottom: 0in">
    <img src="{% static 'images/cariesology_img/Кариесология_html_93b3b3815cb41c53.png' %}" name="image56.png" align="bottom" width="645" height="214" border="0"/>
    </p>
    <p ><br/>
    
    </p>
    <p ><span >!Важная
    информация: что такое pH (читается как
    пэ-аш)? </span>
    </p>
    <p ><span >pH
    - водородный показатель; показывает
    уровень кислотности среды:</span></p>
    <p ><img src="{% static 'images/cariesology_img/Кариесология_html_51567ba29a223497.png' %}" name="image57.png" align="bottom" width="602" height="412" border="0"/>
    </p>
    <p ><span >В
    полости рта уровень ph составляет
    приблизительно 6,7 - 7,4 (т.е. кислая среда).
    При его снижении до 5,5 и ниже возникает
    кариесогенная ситуация! </span>
    </p>
    <p ><span >Причинами
    понижения ph (и, соответственно, повышения
    кислотности) являются местные и общие
    (системные) факторы:</span></p>
    <ul>
        <li><p ><span >Местные:
        приём высокоуглеводной пищи и плохая
        гигиена</span></p></li>
    </ul>
    <ul>
        <li><p ><span >Общие:
        эндокринные заболевания (например,
        сахарный диабет); заболевания слюнных
        желез; заболевания центральной и
        периферийной нервной системы; заболевания
        пищеварительной системы (например
        гастроэзофагеальный рефлюкс - заброс
        содержимого желудка в полость рта, и
        кислый желудочный сок снижает ph во рту)</span></p></li>
    </ul>
    <p ><span >Кислотность
    среды вызывает растворение кристаллов
    гидроксиапатита, образование пор,
    повышение проницаемости эмали и появление
    очага начального кариеса.</span></p>
    <p ><br/>
    
    </p>
    <p ><br/>
    
    </p>
    <p align="center" ><i><b>Классификация
    кариозных полостей:</b></i></p>
    <p >Основной
    и наиболее часто используемой является
    <b>классификация
    полостей по Блеку:</b></p>
    <p >•	I
    класс</p>
    <p >Полости,
    расположенные в естественных углублениях
    и фиссурах резцов, клыков, моляров и
    премоляров</p>
    <p ><img src="{% static 'images/cariesology_img/Кариесология_html_f7640178672170f1.png' %}" name="image61.png" align="bottom" width="600" height="149" border="0"/>
    </p>
    <p ><br/>
    
    </p>
    <p >•	II
    класс</p>
    <p >Полости,
    расположенные на контактных поверхностях
    моляров и премоляров</p>
    <p ><img src="{% static 'images/cariesology_img/Кариесология_html_f7640178672170f1.png' %}" name="Image2" align="bottom" width="344" height="197" border="0"/>
    </p>
    <p ><br/>
    
    </p>
    <p >•	III
    класс</p>
    <p >Полости
    на контактных поверхностях резцов и
    клыков без повреждения режущего края
    или угла коронки</p>
    <p ><img src="{% static 'images/cariesology_img/Кариесология_html_f7640178672170f1.png' %}" name="Image3" align="bottom" width="126" height="199" border="0"/>
    </p>
    <p ><br/>
    
    </p>
    <p >•	IV
    класс</p>
    <p >Полости
    на контактных поверхностях резцов и
    клыков с повреждением режущего края
    или угла коронки</p>
    <p ><img src="{% static 'images/cariesology_img/Кариесология_html_f7640178672170f1.png' %}" name="Image4" align="bottom" width="146" height="210" border="0"/>
    </p>
    <p ><br/>
    
    </p>
    <p >•	V
    класс</p>
    <p >Полости,
    расположенные в пришеечной области
    всех групп зубов</p>
    <p ><img src="{% static 'images/cariesology_img/Кариесология_html_f7640178672170f1.png' %}" name="Image5" align="bottom" width="514" height="216" border="0"/>
    </p>
    <p ><br/>
    
    </p>
    <p >•	VI
    класс (дополнительный, был добавлен
    гораздо позже)</p>
    <p >Полости
    на режущих краях фронтальных зубов и
    на буграх жевательных зубов</p>
    <p ><img src="{% static 'images/cariesology_img/Кариесология_html_50153e09f2786680.png' %}" name="image68.png" align="bottom" width="445" height="186" border="0"/>
    </p>
    <p ><br/>
    
    </p>
    <p style="line-height: 150%; text-indent: -0.2in; margin-left: -0.49in; margin-bottom: 0in">
    <img src="{% static 'images/cariesology_img/Кариесология_html_2241dd94d56e0c8f.png' %}" name="image74.png" align="bottom" width="720" height="165" border="0"/>
    </p>
    <p ><br/>
    
    </p>
    <p ><b>Классификация
    кариеса в зависимости от глубины
    поражения:</b></p>
    <p align="center" ><img src="{% static 'images/cariesology_img/Кариесология_html_cc1060d45853159a.png' %}" name="image72.png" align="bottom" width="580" height="357" border="0"/>
    </p>
    <p ><br/>
    
    </p>
    <p >1)
    <i>Начальная
    стадия</i>
    (очаговая деминерализация/кариес в
    стадии пятна):</p>
    <p >Стадия,
    при которой кариозное поражение выглядит
    как белое пятно с шероховатой поверхностью.
    При этой стадии не образуется полость,
    нарушены только структуры кристаллов
    гидроксиапатитов. Эта стадия обратима.</p>
    <p align="center" ><img src="{% static 'images/cariesology_img/Кариесология_html_f047c9e788a6bde4.png' %}" name="image76.png" align="bottom" width="642" height="362" border="0"/>
    </p>
    <p ><br/>
    
    </p>
    <p >2)
    <i>Поверхностный
    кариес:</i></p>
    <p >В
    этой стадии образуется полость в пределах
    эмали.</p>
    <p ><img src="{% static 'images/cariesology_img/Кариесология_html_e5d7f9eaa38de169.png' %}" name="image77.png" align="bottom" width="580" height="290" border="0"/>
    </p>
    <p ><br/>
    
    </p>
    <p >3)
    <i>Средний
    кариес:</i></p>
    <p >Полость
    располагается в эмали и затрагивает
    поверхностные слои дентина.</p>
    <p ><img src="{% static 'images/cariesology_img/Кариесология_html_38a2e02fc11a6fcf.png' %}" name="image81.png" align="bottom" width="632" height="331" border="0"/>
    </p>
    <p ><img src="{% static 'images/cariesology_img/Кариесология_html_1dd331d1cf2f138.png' %}" name="image80.png" align="bottom" width="632" height="421" border="0"/>
    </p>
    <p ><br/>
    
    </p>
    <p >4)
    <i>Глубокий
    кариес:</i></p>
    <p >Полость
    затрагивает глубокие (околопульпарные)
    дентина.</p>
    <p ><img src="{% static 'images/cariesology_img/Кариесология_html_ab4be21ceec6b69c.png' %}" name="image82.png" align="bottom" width="632" height="343" border="0"/>
    </p>
    <p ><img src="{% static 'images/cariesology_img/Кариесология_html_88a64995f93824f8.png' %}" name="image78.png" align="bottom" width="398" height="398" border="0"/>
    </p>
    <p ><br/>
    
    </p>
    <p >В
    зависимости от стадии (глубины) кариозного
    процесса тактика лечения кариеса может
    меняться!</p>
    <p ><br/>
    
    </p>
    <p ><b>Классификация
    кариеса по МКБ-10</b>:</p>
    <p><u>Код
    - 02</u></p>
    <ul>
        <li><p >К02.0
        - кариес эмали (начальный и поверхностный)</p></li>
        <li><p >К02.1
        - кариес дентина (средний и глубокий)</p></li>
        <li><p >К02.2
        - кариес цемента (кариес корня зуба)</p></li>
        <li><p >К02.3
        - приостановившийся кариес</p></li>
        <li><p >К02.4
        - одонтоклазия</p></li>
        <li><p >К02.8
        - другой кариес зубов</p></li>
        <li><p >К02.9
        - кариес зубов неуточненный</p></li>
    </ul>
    <p ><br/>
    
    </p>
    <p ><span style="background: #f4cccc">!
    Важная информация:</span></p>
    <p ><span style="background: #f4cccc">Существуют
    такие понятия как &quot;рецидивирующий
    кариес&quot; и &quot;вторичный кариес&quot;.</span></p>
    <p ><span style="background: #f4cccc">Рецидивирующий
    кариес - кариес, возникающий там, где
    его уже лечили (т. е. рядом с пломбой
    зуба), и возникает он, когда кариозные
    ткани не были полностью удалены во время
    прошлого лечения.</span></p>
    <p ><span style="background: #f4cccc">Вторичный
    кариес возникает в участках, ранее не
    пораженных кариозным процессом, но
    расположенных рядом с пломбой.</span></p>
    <p ><br/>
    
    </p>
    <p ><br/>
    
    </p>
    <p align="center" ><i><b>Материалы:</b></i></p>
    <p >Пломбировочные
    материалы бывают разными. В данной
    статье мы сосредоточимся на основных
    видах, используемых при лечении кариеса.</p>
    <p ><br/>
    
    </p>
    <p ><b>Композиты:</b></p>
    <p >В
    настоящее время самыми распространенными
    пломбировочными материалами являются
    композиты. Он представляет собой
    органическую матрицу, наполненную
    неорганическими частицами:</p>
    <p align="center" ><img src="{% static 'images/cariesology_img/Кариесология_html_c993d2ec082dd8a5.png' %}" name="image71.png" align="bottom" width="513" height="393" border="0"/>
    </p>
    <p >Полимерная
    матрица представляет собой акриловые
    и эпоксидные смолы. Полимерная матрица
    также содержит активатор, благодаря
    которому процесс затвердевания
    (полимеризации) композита начинается
    под действием света (светоотверждаемый
    материал).</p>
    <p ><br/>
    
    </p>
    <p >Неорганический
    наполнитель может быть разным, но в
    основном это: алюмосиликатное, бариево,
    борсиликатное стекла, двуокись кремния,
    алмазная пыль и т.д. Благодаря наполнителю,
    увеличивается прочность пломбы и
    уменьшается усадка (уменьшение пломбы
    в размере с течением времени).</p>
    <p ><br/>
    
    </p>
    <p ><i>Классификация
    композитов:</i></p>
    <p >По
    размеру частиц:</p>
    <ul>
        <li><p >макронаполненные
        
        </p></li>
        <li><p >микронаполненные</p></li>
        <li><p >мининаполненные</p></li>
        <li><p >гибридные</p></li>
        <li><p >нанонаполненные</p></li>
    </ul>
    <p ><br/>
    
    </p>
    <p >По
    способу отверждения:</p>
    <ul>
        <li><p >световые</p></li>
        <li><p >химические</p></li>
        <li><p >двойного
        (светового + химического)</p></li>
    </ul>
    <p ><br/>
    
    </p>
    <p >По
    консистенции:</p>
    <ul>
        <li><p >обычной
        консистенции (можно сказать, что она
        похожа на пластилин)</p></li>
        <li><p >жидкой
        консистенции (текучие композиты)</p></li>
    </ul>
    <p ><br/>
    
    </p>
    <p >Макронаполненные
    композиты содержат неорганический
    наполнитель больших размеров (10-50 мкм),
    поэтому являются наиболее прочными,
    однако они менее эстетичны и плохо
    полируются (их лучше ставить на жевательной
    группу зубов).</p>
    <p ><br/>
    
    </p>
    <p >Микронаполненные
    композиты содержат неорганический
    наполнитель малых размеров (0,05-0,5 мкм),
    поэтому они менее прочные, но при этом
    более эстетичны (на лучшее ставить на
    фронтальную группу зубов).</p>
    <p ><br/>
    
    </p>
    <p >Гибридные
    же сочетают в себе качества как макро-,
    так и микронаполненных композитов, так
    как содержат в своем составе и малые, и
    большие частицы наполнителя.</p>
    <p ><br/>
    
    </p>
    <p >Текущие
    композиты характеризуются тем, что
    степень их наполненности составляет
    около 50-60%. Благодаря этому обеспечивается
    жидкая консистенция материала. Это
    помогает композиту лучше распределяться
    (растекаться) в полости и уменьшает
    усадку. Тем не менее, это влияет на
    прочность, поэтому нельзя делать
    постоянные пломбы целиком из текущего
    композита.</p>
    <p ><img src="{% static 'images/cariesology_img/Кариесология_html_40512298f8b0c70c.png' %}" name="image39.png" align="bottom" width="493" height="443" border="0"/>
    </p>
    <p ><img src="{% static 'images/cariesology_img/Кариесология_html_b90baf6c0d5499b7.png' %}" name="image42.png" align="bottom" width="405" height="405" border="0"/>
    </p>
    <p ><img src="{% static 'images/cariesology_img/Кариесология_html_415d906e3a67043.png' %}" name="image45.png" align="bottom" width="385" height="385" border="0"/>
    </p>
    <p ><img src="{% static 'images/cariesology_img/Кариесология_html_29f779ce2a97c851.png' %}" name="image40.png" align="bottom" width="534" height="493" border="0"/>
    </p>
    <p ><b>Цементы:</b></p>
    <p >Стоматологические
    цементы - материал, который состоит из
    нескольких компонентов. Как правило,
    это порошок и жидкость, которые необходимо
    смешать в определенном соотношении и
    до получения равномерной консистенции.
    Важно помнить, что эти материалы застывают
    путем химического отверждения (в отличие
    от композитов), и время, которое врачу
    необходимо для внесения его в полость
    и моделирования пломбы ограничено!</p>
    <p ><br/>
    
    </p>
    <p ><span style="background: #fff8d8">!
    Важная информация: если пломба из
    композита, то пациент может есть сразу,
    а если из цемента, то необходимо подождать,
    пока пломба не затвердеет окончательно
    (обычно это 1-2 часа после приема). Тем не
    менее полное отверждение (на молекулярном
    уровне) любой пломбы происходит в течение
    24 часов)!</span></p>
    <p ><br/>
    
    </p>
    <p ><i>Цементы
    тоже бывают разными:</i></p>
    <p >-
    цинк-фосфатные;</p>
    <p >-
    силикатные;</p>
    <p >-
    силикофосфатные;</p>
    <p >-
    поликарбоксилатные;</p>
    <p >-
    стеклоиономерные.</p>
    <p ><br/>
    
    </p>
    <p ><u>Цинк-фосфатный
    цемент</u></p>
    <p >Состоит
    из оксида цинка (порошок) и фосфорной
    кислоты (жидкость). Обладает плохой
    прочностью и используется, как правило,
    для изолирующих подкладок.</p>
    <p >Примеры:
    Фосфат, Унифас</p>
    <p ><img src="{% static 'images/cariesology_img/Кариесология_html_8f1829204389c855.png' %}" name="image49.png" align="bottom" width="572" height="428" border="0"/>
    </p>
    <p ><br/>
    
    </p>
    <p ><u>Силикатный
    цемент</u></p>
    <p >Состоит
    из алюмосиликатного стекла (порошок) и
    фосфорной кислоты (жидкость). Раньше
    использовался для пломбирования передней
    группы зубов, но при этом обладает
    высокой токсичностью.</p>
    <p >Примеры:
    Силицин, Белацин</p>
    <p ><img src="{% static 'images/cariesology_img/Кариесология_html_d86f4a5e505718a7.png' %}" name="image53.png" align="bottom" width="586" height="390" border="0"/>
    </p>
    <p ><br/>
    
    </p>
    <p ><u>Силикофосфатный
    цемент</u></p>
    <p >Состоит
    из алюмосиликатного стекла+оксида цинка
    (порошок) и фосфорной кислоты (жидкость).
    Материал выбора для пациентов с
    ограниченными финансовыми возможностями
    и для временных пломб.</p>
    <p >Примеры:
    Силидонт-2, Беладонт</p>
    <p ><img src="{% static 'images/cariesology_img/Кариесология_html_83862d7f51fa34f5.png' %}" name="image67.png" align="bottom" width="522" height="348" border="0"/>
    </p>
    <p ><br/>
    
    </p>
    <p ><u>Поликарбоксилатный
    цемент</u></p>
    <p >Состоит
    из оксида цинка (порошок) и полиакриловой
    кислоты (жидкость). По свойствам похож
    на цинк-фосфатный цемент.</p>
    <p >Примеры:
    Карбоко</p>
    <p ><img src="{% static 'images/cariesology_img/Кариесология_html_3f22ad56eeffcea5.png' %}" name="image50.png" align="bottom" width="450" height="384" border="0"/>
    </p>
    <p ><br/>
    
    </p>
    <p ><u>Стеклоиономерный
    цемент</u></p>
    <p >Состоит
    из алюмосиликатного стекла (порошок) и
    полиакриловой кислоты (жидкость).
    Обладает хорошей адгезией (способностью
    &quot;приклеиваться&quot; и стенкам полости
    зуба), прочностью, а также выделяет фтор
    но это не точно (что обеспечивает
    кариесстатический эффект).</p>
    <p >Примеры:
    Fuji, Kavitan, Ionofil</p>
    <p ><img src="{% static 'images/cariesology_img/Кариесология_html_13b76e2ad3dcc7af.png' %}" name="image58.png" align="bottom" width="564" height="407" border="0"/>
    </p>
    <p ><br/>
    
    </p>
    <p ><b>Дополнительные
    материалы: </b>
    </p>
    <p ><i>1)
    Гель для протравливания</i></p>
    <p >Представляет
    собой 37% ортофосфорную кислоту. Он
    необходим для подготовки полости к
    пломбированию композитом. &quot;Протравка&quot;
    создает микрошероховатости, за счет
    которых увеличивается площадь
    соприкосновения пломбы и зуба и улучшается
    адгезия. Помимо этого удаляются
    загрязнения с поверхности, обеспечивая
    дополнительное очищение полости.</p>
    <p ><img src="{% static 'images/cariesology_img/Кариесология_html_aa90b61a176e723a.png' %}" name="image54.png" align="bottom" width="463" height="321" border="0"/>
    </p>
    <p ><img src="{% static 'images/cariesology_img/Кариесология_html_63d3b4a6462d5b7d.png' %}" name="image33.png" align="bottom" width="584" height="391" border="0"/>
    </p>
    <p ><br/>
    
    </p>
    <p ><i>2)
    Адгезивные (бондинговые) системы</i></p>
    <p ><span style="background: #f7dcff">!
    Важная информация: Адгезия -
    соединение/сцепление двух различных
    поверхностей.</span></p>
    <p ><span style="background: #f7dcff">В
    стоматологии чем выше адгезия между
    пломбой и зубом, тем лучше их сцепление,
    и в таком случае пломба прослужит дольше.</span></p>
    <p ><br/>
    
    </p>
    <p ><span style="background: #f7dcff">Адгезия
    бывает:</span></p>
    <p ><span style="background: #f7dcff">▸</span><span style="background: #f7dcff">
    Механической
    - за счет микромеханического сцепление
    поверхностей. Чем больше поверхность
    сцепления, тем лучше пломба фиксируется.
    Этот вид адгезии свойственен в основном
    амальгамам, фосфатным цементам и т. д.
    Именно поэтому для цементных пломб
    делали большую ящикообразную полость.</span></p>
    <p ><br/>
    
    </p>
    <p ><span style="background: #f7dcff">▸</span><span style="background: #f7dcff">
    Химической
    - за счет образования химической связи
    между пломбировочным материалом и
    тканями зуба. Такой адгезией обладают
    стеклоиономерные, поликарбоксилатные
    цементы. Композитные пломбы также
    фиксируются за счет химической адгезии
    путем обработки полости специальными
    препаратами.</span></p>
    <p ><br/>
    
    </p>
    <p >Как
    понятно из названия, <i>адгезивные
    системы</i>
    - системы, предназначенные для создания
    адгезивного соединения. Использование
    этих систем является обязательным при
    пломбировании композитами.</p>
    <p >При
    использовании бондинговых систем должно
    быть соблюдены абсолютная сухость,
    нельзя допустить попадания крови или
    ротовой жидкости в подготовленную
    полость, поэтому важно обеспечивать
    надежную изоляцию зуба при его
    пломбировании композитами.</p>
    <p >Важно
    также знать, что при препарировании
    дентина происходит раскрытие дентинных
    канальцев, в которых находится жидкость.
    Эта жидкость также отрицательно влияет
    на подготовку полости к пломбированию,
    поэтому в таких системах предусмотрен
    механизм запечатывания дентинных
    канальцев и образования &quot;гибридного
    слоя&quot;.</p>
    <p ><br/>
    
    </p>
    <p >На
    протяжении многих лет адгезивные системы
    претерпевали различные изменения,
    поэтому существует несколько поколений
    таких систем, каждое из которых содержит
    свои плюсы и минусы)</p>
    <p >Мы
    рассмотрим те, которые чаще всего
    встречаются в практической стоматологии
    на данный момент: 4, 5 и 6 поколения.</p>
    <p ><br/>
    
    </p>
    <p ><span lang="en-US"><i>4
    </i></span><i>поколение</i><span lang="en-US">
    (OptiBond FL, Solobond plus, All-Bond 2):</span></p>
    <p >3-х
    или четырехшаговая система</p>
    <p >1
    компонент: протравливающий гель</p>
    <p >2
    компонент: праймер, запечатывающий
    дентинные канальцы и образующий гибридный
    слой</p>
    <p >3
    компонент: бонд, который отвечает за
    связь композита с гибридным слоем и
    эмалью зуба</p>
    <p ><img src="{% static 'images/cariesology_img/Кариесология_html_89355ee321c69031.png' %}" name="image20.png" align="bottom" width="500" height="500" border="0"/>
    </p>
    <p ><br/>
    
    </p>
    <p ><span lang="en-US"><i>5
    </i></span><i>поколение</i><span lang="en-US"><i>
    </i></span><span lang="en-US">(Solobond
    M, OptiBond Solo Plus, Contax):</span></p>
    <p >Двухшаговая
    система</p>
    <p >1
    компонент: протравливающий гель</p>
    <p >2
    компонент: адгезив</p>
    <p ><img src="{% static 'images/cariesology_img/Кариесология_html_9ae63c1a8af9cd.png' %}" name="image22.png" align="bottom" width="543" height="310" border="0"/>
    </p>
    <p ><br/>
    
    </p>
    <p ><br/>
    
    </p>
    <p ><span lang="en-US"><i>6
    </i></span><i>поколение</i><span lang="en-US">
    (OptiBond All-In-One, XENO V, BOND FORCE):</span></p>
    <p >Одноэтапная
    система, включающая в себя самопротравливающий
    адгезив</p>
    <p ><img src="{% static 'images/cariesology_img/Кариесология_html_75c885aaafa73e4a.png' %}" name="image29.png" align="bottom" width="355" height="406" border="0"/>
    </p>
    <p ><span style="background: #d5fffa">При
    глубоком кариесе может понадобиться
    дополнительное лечебное воздействие
    на пульпу (для предупреждения пульпита).
    В таких случаях используют </span><i><span style="background: #d5fffa">лечебную
    прокладку</span></i><span style="background: #d5fffa">,
    содержащую лекарственные препараты. </span>
    </p>
    <p ><span style="background: #d5fffa">Материалы,
    которые используются для лечебных
    прокладок, плохо совместимы с постоянными
    пломбами, поэтому сверху они покрываются</span><i><span style="background: #d5fffa">
    изолирующей подкладкой</span></i><span style="background: #d5fffa">.</span></p>
    <p ><br/>
    
    </p>
    <p ><img src="{% static 'images/cariesology_img/Кариесология_html_19ebcad128fdee10.png' %}" name="image23.png" align="bottom" width="516" height="204" border="0"/>
    </p>
    <p ><b>Схема
    наложения подкладок</b></p>
    <p >⚬ СИЦ
    (стеклоиономерный цемент/изолирующая
    подкладка)</p>
    <p >⚬
    Кальций-салицилатный
    цемент (лечебная подкладка)</p>
    <p ><br/>
    
    </p>
    <p ><i>3)
    Лечебные прокладки:</i></p>
    <p >В
    качестве лечебной прокладки используются:</p>
    <p > -
    материалы на основе гидроксида кальция
    (Calcicur, Calcipulpe, Calcimol)</p>
    <p > -
    цинкэвгенольный цемент</p>
    <p >Эвгенол
    - антисептик растительного происхождения.
    Он составляет 70% гвоздичного масла
    (Zinoment, Kalsogen Plus, Cavitec)</p>
    <p > -
    комбинированные лекарственные препараты</p>
    <p >Основными
    их компонентами являются одонтотропные,
    противовоспалительные, антимикробные
    средства и протеолитические ферменты
    (Contrasil, Septocalcine ultra, Calcipulpe)</p>
    <p ><br/>
    
    </p>
    <p ><i>4)
    Изолирующие прокладки:</i></p>
    <p > -
    цинк-фосратный цемент (Унифас, Poscal,
    Adgesor)</p>
    <p > -
    поликарбоксилатный цемент  (Carboco, Harvard
    CC, PR Scell Polycarboxeylate)</p>
    <p > -
    стеклоиономерный цемент (Aqua Ionobond,
    БейзЛайн, Дентис)</p>
    <p ><br/>
    
    </p>
    <p ><br/>
    
    </p>
    <p align="center" ><i><b>Инструментарий:</b></i></p>
    <p >I.
    Основные (диагностические) инструменты:</p>
    <p >1)
    Лоток</p>
    <p ><img src="{% static 'images/cariesology_img/Кариесология_html_d4ff138b2370fb46.png' %}" name="image3.png" align="bottom" width="440" height="329" border="0"/>
    </p>
    <p > 
    <img src="{% static 'images/cariesology_img/Кариесология_html_94c675ffd827be93.png' %}" name="image31.png" align="bottom" width="505" height="336" border="0"/>
    </p>
    <p><br/>
    
    </p>
    <p>2)
    Зеркало</p>
    <p><img src="{% static 'images/cariesology_img/Кариесология_html_881982871cb93d01.png' %}" name="image25.png" align="bottom" width="459" height="459" border="0"/>
    </p>
    <p><img src="{% static 'images/cariesology_img/Кариесология_html_e823fd84cb43bda.png' %}" name="image28.png" align="bottom" width="440" height="440" border="0"/>
    </p>
    <p>3)
    Зонд 
    </p>
    <p><img src="{% static 'images/cariesology_img/Кариесология_html_bc22955d3d328a23.png' %}" name="image43.png" align="bottom" width="370" height="370" border="0"/>
    </p>
    <p>4)
    Пинцет. Бывает прямым и изогнутым. В
    терапевтической стоматологии чаще
    используется изогнутый.</p>
    <p><img src="{% static 'images/cariesology_img/Кариесология_html_af13edd7c34b59b8.png' %}" name="image26.png" align="bottom" width="450" height="450" border="0"/>
    </p>
    <p><br/>
    
    </p>
    <p><img src="{% static 'images/cariesology_img/Кариесология_html_7c6a9816a67b6c61.png' %}" name="image5.png" align="bottom" width="337" height="337" border="0"/>
    ⟵
    Прямой
    пинцет</p>
    <p>5)
    Шпатель 
    </p>
    <p><br/>
    
    </p>
    <p><img src="{% static 'images/cariesology_img/Кариесология_html_5a1b8b0892e0f678.png' %}" name="image60.png" align="bottom" width="516" height="516" border="0"/>
    </p>
    <p><br/>
    
    </p>
    <p><br/>
    
    </p>
    <p><br/>
    
    </p>
    <p><br/>
    
    </p>
    <p><br/>
    
    </p>
    <p><br/>
    
    </p>
    <p><br/>
    
    </p>
    <p >6)
    Штопфер 
    <img src="{% static 'images/cariesology_img/Кариесология_html_c609f81b34cdfc5a.png' %}" name="image4.png" align="bottom" width="525" height="420" border="0"/>
    </p>
    <p><img src="{% static 'images/cariesology_img/Кариесология_html_359f109565d3b570.png' %}" name="image12.png" align="bottom" width="614" height="353" border="0"/>
    </p>
    <p>7)
    Гладилка</p>
    <p><img src="{% static 'images/cariesology_img/Кариесология_html_63f030e4bc37a025.png' %}" name="image13.png" align="bottom" width="472" height="404" border="0"/>
    </p>
    <p><br/>
    
    </p>
    <p >Обычно
    штопфер и гладилка представлены одним
    инструментом (штопфер-гладилка):</p>
    <p><img src="{% static 'images/cariesology_img/Кариесология_html_20ad3d7b3811b810.png' %}" name="image7.png" align="bottom" width="364" height="364" border="0"/>
    </p>
    <p><img src="{% static 'images/cariesology_img/Кариесология_html_7093c79ca72ec7b0.png' %}" name="image10.png" align="bottom" width="423" height="423" border="0"/>
    </p>
    <p><br/>
    
    </p>
    <p>8)
    Экскаватор</p>
    <p > 
    <img src="{% static 'images/cariesology_img/Кариесология_html_319e8533e2da10a8.png' %}" name="image16.png" align="bottom" width="392" height="392" border="0"/>
    </p>
    <p ><img src="{% static 'images/cariesology_img/Кариесология_html_edfcdd7a64ee504e.png' %}" name="image6.png" align="bottom" width="442" height="442" border="0"/>
    </p>
    <p ><br/>
    
    </p>
    <p >II.
    Стоматологические наконечники:</p>
    <p >Ваша
    волшебная палочка, продолжение Вашей
    руки, и именно та самая бормашина, звук
    которой вселяет страх в каждого пациента))
    
    </p>
    <p >Наконечник
    - устройство, предназначенные для
    передачи рабочему инструменту определенной
    скорости. Они бывают следующих видов:</p>
    <p ><br/>
    
    </p>
    <p >1)
    турбинный - самый быстрый ковбой на
    диком западе, его скорость - около 400000
    об./мин. (работать прерывисто и под водным
    орошением, т.к. есть риск перегрева
    тканей зуба!)</p>
    <p ><img src="{% static 'images/cariesology_img/Кариесология_html_8cb8616aea5ad92e.png' %}" name="image66.png" align="bottom" width="427" height="341" border="0"/>
    </p>
    <p ><br/>
    
    </p>
    <p >2)
    угловой - являются низкоскоростными
    (1000-40000 об./мин.), но могут похвастаться
    большим разнообразием рабочих инструментов</p>
    <p style="line-height: 150%; margin-left: 0.3in; margin-bottom: 0in"><img src="{% static 'images/cariesology_img/Кариесология_html_ab50b79bac6a1910.png' %}" name="image62.png" align="bottom" width="406" height="326" border="0"/>
    </p>
    <p style="line-height: 150%; margin-left: 0.3in; margin-bottom: 0in"><b>Виды
    угловых наконечников:</b></p>
    <p style="line-height: 150%; margin-left: 0.3in; margin-bottom: 0in">а)
    повышающий: скорость вращения - 5000-200000
    об./мин. (на таких наконечниках есть
    пометка -<font color="#cc0000">
    красное</font>
    кольцо)</p>
    <p style="line-height: 150%; margin-left: 0.3in; margin-bottom: 0in"><img src="{% static 'images/cariesology_img/Кариесология_html_d5e4163b92cddd4a.png' %}" name="image63.png" align="bottom" width="328" height="328" border="0"/>
    </p>
    <p style="line-height: 150%; margin-left: 0.3in; margin-bottom: 0in">б)
    понижающий: в основном применяется в
    эндодонтии, скорость вращения 1000-10000
    об./мин. (на таких наконечниках есть
    пометка - <font color="#6aa84f">зеленое</font>
    кольцо)</p>
    <p style="line-height: 150%; margin-left: 0.3in; margin-bottom: 0in"><img src="{% static 'images/cariesology_img/Кариесология_html_d498e4a9e5815d60.png' %}" name="image65.png" align="bottom" width="374" height="374" border="0"/>
    </p>
    <p >3)
    прямой - чаще используется в ортопедической
    стоматологии, скорость примерно как у
    угловых наконечников; для них предназначены
    самые большие боры</p>
    <p ><img src="{% static 'images/cariesology_img/Кариесология_html_46e46fa383ec52af.png' %}" name="image69.png" align="bottom" width="352" height="302" border="0"/>
    </p>
    <p ><span style="background: #e8ffd0">!Важная
    информация: при препарировании эмали
    зуба лучше работать турбинным наконечником
    (так как эмаль самая твердая ткань нашего
    организма), а препарирование дентина -
    угловым (сейчас многие доктора
    придерживаются мнения, что лучше для
    этой цели подходит именно повышающий
    наконечник), также с водно-воздушным
    охлаждением!</span></p>
    <p > 
    </p>
    <p >Существуют
    также микромоторы - наконечники-переходники,
    они преобразуют воздушную энергию в
    кинетическую и необходимы для работы
    угловых и прямых наконечников.</p>
    <p ><br/>
    
    </p>
    <p >4)
    гигиенические насадки</p>
    <p>
    а)
    Скалер (воздушные и пьезоэлектрические)
    - предназначен для снятия твердых зубных
    отложений, создает ультразвуковые
    колебания</p>
    <p>
    <img src="{% static 'images/cariesology_img/Кариесология_html_8219d92f945fbddd.png' %}" name="image79.png" align="bottom" width="442" height="470" border="0"/>
    </p>
    <p>
    <br/>
    
    </p>
    <p>
    б)
    Air-Flow - насадка для создания водно-порошковой
    струи под высоким давлением, идеально
    подходит для удаления пигментированного
    налета</p>
    <p>
    <img src="{% static 'images/cariesology_img/Кариесология_html_9689ecc1095c8857.png' %}" name="image75.png" align="bottom" width="437" height="286" border="0"/>
    </p>
    <p >III.
    Ротационные инструменты:</p>
    <p >Боры
    - режущие или абразивные инструменты,
    которые необходимы для препарирования
    твердых тканей, обработки пломбы и т.
    п.</p>
    <p >В
    них различают рабочую и хвостовую части:</p>
    <p align="center" ><img src="{% static 'images/cariesology_img/Кариесология_html_f5603a0753876ef2.png' %}" name="image83.png" align="bottom" width="445" height="245" border="0"/>
    </p>
    <p ><br/>
    
    </p>
    <p >В
    зависимости от вида хвостовой части
    можно понять для какого именно наконечника
    предназначен тот, или иной бор:</p>
    <p >▸для
    турбинного: 
    </p>
    <p ><img src="{% static 'images/cariesology_img/Кариесология_html_85c7a38a223bf221.png' %}" name="image70.png" align="bottom" width="293" height="293" border="0"/>
    </p>
    <p ><br/>
    
    </p>
    <p >▸для
    угловых:</p>
    <p ><img src="{% static 'images/cariesology_img/Кариесология_html_32e64c579fbcd7e5.png' %}" name="image73.png" align="bottom" width="251" height="287" border="0"/>
    </p>
    <p ><br/>
    
    </p>
    <p ><br/>
    
    </p>
    <p >▸для
    прямых (самые большие):</p>
    <p ><img src="{% static 'images/cariesology_img/Кариесология_html_12bf3cc20df47994.png' %}" name="image64.png" align="bottom" width="448" height="448" border="0"/>
    </p>
    <p >Рабочая
    часть также бывает разной формы и может
    быть сделана из разных материалов:</p>
    <ul>
        <li><p >по
        форме: цилиндрические, шаровидные,
        грушевидные, конусовидные и т.д.</p></li>
    </ul>
    <p style="line-height: 150%; margin-left: 0.5in; margin-bottom: 0in"><br/>
    
    </p>
    <ul>
        <li><p >по
        материалу: стальные, твердосплавные,
        с алмазным покрытием, силиконовые,
        резиновые, нейлоновые и т.д.</p></li>
    </ul>
    <p ><br/>
    
    </p>
    <p >Стальные
    боры имеют режущие грани и предназначены
    для удаления дентина на малых скоростях;</p>
    <p ><img src="{% static 'images/cariesology_img/Кариесология_html_a634016cea9621b9.png' %}" name="image32.png" align="bottom" width="572" height="154" border="0"/>
    </p>
    <p >Твердосплавные
    боры сделаны из карбида вольфрама и
    имеют несколько лопастей, очень эффективно
    иссекают эмаль и дентин, однако они
    недолговечны и имеют слабое место -
    переход из рабочей части в хвостовик;</p>
    <p ><img src="{% static 'images/cariesology_img/Кариесология_html_688825d2310d9b68.png' %}" name="image36.png" align="bottom" width="467" height="204" border="0"/>
    </p>
    <p >Алмазные
    боры покрыты мелкими алмазными зернами
    и очень широко распространены, они не
    срезают ткани, а именно сошлифовывают
    их. Мало эффективны при препарировании
    мягких тканей (в том числе и некротизированного
    дентина), однако отлично подходят при
    работе с эмалью зуба.</p>
    <p ><img src="{% static 'images/cariesology_img/Кариесология_html_d8c097389a43e3ee.png' %}" name="image38.png" align="bottom" width="330" height="330" border="0"/>
    </p>
    <p ><br/>
    
    </p>
    <p >Резиновые,
    силиконовые и нейлоновые боры предназначены
    для полировки, удаления мягкого зубного
    налёта и т.д.</p>
    <p ><img src="{% static 'images/cariesology_img/Кариесология_html_6cef7e30c30a60c3.png' %}" name="image48.png" align="bottom" width="427" height="280" border="0"/>
    </p>
    <p >Боры
    также имеют цветовую кодировку:</p>
    <p ><img src="{% static 'images/cariesology_img/Кариесология_html_28f302190279ec2e.png' %}" name="image37.png" align="bottom" width="604" height="350" border="0"/>
    </p>
    <p >По
    ней можно определить какой бор имеют
    более высокую режущую способность
    (абразивность), а какой меньшую.</p>
    <p ><br/>
    
    </p>
    <p ><span style="background: #c9daf8">!
    Важная информация: для гигиенических
    наконечников также существуют специальные
    рабочие инструменты - ультразвуковые
    насадки:</span></p>
    <p ><img src="{% static 'images/cariesology_img/Кариесология_html_c7711c18c708cc8e.png' %}" name="image41.png" align="bottom" width="632" height="263" border="0"/>
    </p>
    <p >IV.
    Инструменты для изоляции рабочего поля:</p>
    <p >1)
    Коффердам</p>
    <p >Коффердам
    - скорее целая система, а не инструмент.
    Она предназначена для ретракции мягких
    тканей, дезинфекции рабочего поля и
    предотвращения случайной аспирации
    инородных веществ и элементов. Коффердам
    состоит из нескольких составляющих:
    кламмеров, латексного платка, шаблона,
    шипов для перфорации, кламмерных щипцов,
    рамки.</p>
    <p ><img src="{% static 'images/cariesology_img/Кариесология_html_9f3c8b2adbd7baee.png' %}" name="image47.png" align="bottom" width="576" height="576" border="0"/>
    </p>
    <p ><img src="{% static 'images/cariesology_img/Кариесология_html_92dc1c1b12d03ff0.png' %}" name="image44.png" align="bottom" width="632" height="399" border="0"/>
    </p>
    <p ><br/>
    
    </p>
    <p ><br/>
    
    </p>
    <p >2)
    Матрицы и матрицедержатели</p>
    <p >Матрицы
    - инструменты,  которые используются
    для восстановления анатомической формы
    в межзубном промежутке. Они бывают
    контурными и ленточными. Контурные, в
    свою очередь, делятся на перфорированные
    и плоскостные металлические и полимерные,
    а ленточные - металлические и пластиковые.</p>
    <p >Матрицы
    могут быть разной толщины и размеров.</p>
    <p >Некоторые
    матрицы являются самофиксирующимися,
    а для некоторых необходимы матрицедержатели.</p>
    <p ><img src="{% static 'images/cariesology_img/Кариесология_html_3d7794b58867a36f.png' %}" name="image51.png" align="bottom" width="420" height="420" border="0"/>
    </p>
    <p ><img src="{% static 'images/cariesology_img/Кариесология_html_c20af40172b6e022.png' %}" name="image34.png" align="bottom" width="394" height="394" border="0"/>
    </p>
    <p ><img src="{% static 'images/cariesology_img/Кариесология_html_c7af16699407d95c.png' %}" name="image35.png" align="bottom" width="632" height="379" border="0"/>
    </p>
    <p ><img src="{% static 'images/cariesology_img/Кариесология_html_45099a21216b78e1.png' %}" name="image14.png" align="bottom" width="468" height="468" border="0"/>
    </p>
    <p ><br/>
    
    </p>
    <p >3)
    Клинья</p>
    <p >Клинья
    выполняют роль межзубного фиксатора,
    адаптируя матрицу в придесневой части;
    они также обеспечивают расклинивание
    зубов.</p>
    <p >Клинья
    бывают деревянные и пластиковые.</p>
    <p >По
    сечению имеют треугольную форму.</p>
    <p ><img src="{% static 'images/cariesology_img/Кариесология_html_22e86e8d05df4c8e.png' %}" name="image18.png" align="bottom" width="572" height="360" border="0"/>
    </p>
    <p ><br/>
    
    </p>
    <p ><img src="{% static 'images/cariesology_img/Кариесология_html_5cd7718851496aa4.png' %}" name="image17.png" align="bottom" width="632" height="232" border="0"/>
    </p>
    <p ><img src="{% static 'images/cariesology_img/Кариесология_html_71c4164451f54fb0.png' %}" name="image27.png" align="bottom" width="564" height="353" border="0"/>
    </p>
    <p ><br/>
    
    </p>
    <p >4)
    Штрипсы</p>
    <p >Можно
    назвать их абразивными полосками.
    Используются для сглаживания и шлифования
    реставрации, расположенных на контактных
    поверхностях. Они бывают разной толщины
    и абразивности.</p>
    <p ><img src="{% static 'images/cariesology_img/Кариесология_html_df4dd08ab35fb5b2.png' %}" name="image21.png" align="bottom" width="632" height="228" border="0"/>
    </p>
    <p ><img src="{% static 'images/cariesology_img/Кариесология_html_93d2637ac4c21210.png' %}" name="image24.png" align="bottom" width="632" height="379" border="0"/>
    </p>
    <p ><img src="{% static 'images/cariesology_img/Кариесология_html_640c4b853ad7a79c.png' %}" name="image46.png" align="bottom" width="632" height="283" border="0"/>
    </p>
    <p ><br/>
    
    </p>
    <p >5)
    Аппликаторы (браши)</p>
    <p >Небольшие
    кисточки, предназначенные для внесения
    различных жидкостей/препаратов в полость
    и т.д.</p>
    <p ><img src="{% static 'images/cariesology_img/Кариесология_html_2dc75687185f88f0.png' %}" name="image30.png" align="bottom" width="382" height="406" border="0"/>
    </p>
    <p ><br/>
    
    </p>
    <p ><img src="{% static 'images/cariesology_img/Кариесология_html_ed3b853b83304a68.png' %}" name="image9.png" align="bottom" width="494" height="419" border="0"/>
    </p>
    <p ><img src="{% static 'images/cariesology_img/Кариесология_html_9f40757aa75adf85.png' %}" name="image2.png" align="bottom" width="288" height="374" border="0"/>
    </p>
    <p ><br/>
    
    </p>
    <p >6)
    Артикуляционная бумага</p>
    <p style="line-height: 137%; margin-bottom: 0in; background: #ffffff">
    Артикуляционная
    бумага — это индикатор для определения
    окклюзионных нарушений в естественном
    прикусе и зубных протезах. 
    </p>
    <p style="line-height: 137%; margin-bottom: 0in; background: #ffffff">
    Ее
    пропитывают специальными красящими
    пигментами.</p>
    <p ><img src="{% static 'images/cariesology_img/Кариесология_html_ab555c99bd51a512.png' %}" name="image19.png" align="bottom" width="474" height="316" border="0"/>
    </p>
    <p ><img src="{% static 'images/cariesology_img/Кариесология_html_a06c05d419df7b62.png' %}" name="image15.png" align="bottom" width="351" height="351" border="0"/>
    </p>
    <p ><img src="{% static 'images/cariesology_img/Кариесология_html_ed182d5873ecb6ab.png' %}" name="image1.png" align="bottom" width="372" height="251" border="0"/>
    </p>
    <p ><br/>
    
    </p>
    <p ><br/>
    
    </p>
    <p >7)
    Пасты для полировки пломб</p>
    <p ><img src="{% static 'images/cariesology_img/Кариесология_html_2e01ad2d5e2f12d8.png' %}" name="image11.png" align="bottom" width="384" height="330" border="0"/>
    </p>
    <p ><br/>
    
    </p>
    <p ><img src="{% static 'images/cariesology_img/Кариесология_html_3f2db90090d71a43.png' %}" name="image8.png" align="bottom" width="632" height="297" border="0"/>
    </p>
    <p ><br/>
    
    </p>
    <p ><b>Тактики
    препарирования кариозных полостей
    зубов:</b></p>
    <p >а)
    Метод &quot;профилактического расширения&quot;</p>
    <p >Данный
    метод предполагает широкое иссечение
    кариесвосприимчивых участков (фиссур)
    с созданием обширной полости.</p>
    <p >Данная
    методика в основном используется для
    подготовки зуба и пломбированию
    цементами, поэтому в настоящее время
    она не очень актуальна. К тому же,
    иссекается большое здоровых тканей и
    тратится большое количество времени
    на препарирование.</p>
    <p >К
    достоинствам этого метода можно отнести
    долговечность пломб, снижение риска
    возникновения рецидивирующего кариеса.</p>
    <p ><br/>
    
    </p>
    <p >б)
    Метод &quot;биологической целесообразности&quot;</p>
    <p >Метод
    щадящей препарирования. Он заключается
    в том, что удаляются исключительно
    пораженные ткани.</p>
    <p >Достоинства
    этого метода: сохранение не пораженных
    тканей, простота, сокращение времени
    препарирования.</p>
    <p >Недостатки:
    недолговечность пломб, риск развития
    рецидивирующего кариеса.</p>
    <p ><br/>
    
    </p>
    <p ><br/>
    
    </p>
    <p ><b>Основные
    этапы препарирования кариозных полостей:</b></p>
    <p ><i>1)
    Раскрытие полости</i></p>
    <p >Начинается
    с удаления нависающих краев эмали, не
    имеющих плотного подлежащего дентина.
    Этот этап нужен для обеспечения доступа
    для дальнейших манипуляций и хорошего
    обзора полости.</p>
    <p >Раскрытие
    полости проводится фиссурными или
    шаровидными борами, размер которых
    соответствует размеру входного отверстия
    полости.</p>
    <p ><br/>
    
    </p>
    <p ><i>2)
    Расширение полости (профилактическое
    расширение)</i></p>
    <p >Цель
    данного этапа в предотвращении рецидивного
    кариеса. При раскрытии фиссур не следует
    удалять большое количество тканей,
    достаточно сделать бороздки небольшого
    размера и избегать острых углов. Обычно
    для расширения полости используют
    конусовидные боры с закругленной
    вершиной.</p>
    <p ><br/>
    
    </p>
    <p ><i>3)
    Некрэктомия (некротомия, &quot;удаление
    кариеса&quot;)</i></p>
    <p >На
    этом этапе происходит полное удаление
    размягченного и пигментированного
    дентина из кариозной полости. Удаление
    измененного дентина проводится
    шаровидными или грушевидными борами
    больших размеров (твердосплавными или
    стальными). При наличии в полости большого
    количества размягченного дентина его
    удаление лучше проводить острым
    экскаватором (размер инструмента должен
    соответствовать размерам полости),
    особенно если есть риск случайного
    вскрытия полости зуба.</p>
    <p ><br/>
    
    </p>
    <p ><i>4)
    Формирование полости</i></p>
    <p >На
    этом этапе кариозной полости придается
    форма, способствующие надежной фиксации
    пломбы и обеспечивающей для пломбированного
    зуба достаточную прочность. Создаются
    окончательные наружные и внутренние
    очертания полости.</p>
    <p >Формирование
    полости проводится фиссурными,
    конусовидными, пламевидными и грушевидными
    борами.</p>
    <p ><br/>
    
    </p>
    <p ><i>5)
    Финирование краев эмали</i></p>
    <p >Финирование
    краев заключается в обработке краев
    полости, предусматривающее удаление
    поврежденных, ослабленных участков
    эмали и придание ей гладкости. Проводится
    алмазными мелкозернистыми (красная и
    желтая полоса) борами на малой скорости.</p>
    <p ><br/>
    
    </p>
    <ul>
        <li><p ><a name="_GoBack"></a>
        <b>Спиртовой
        протокол:</b></p></li>
    </ul>
    <p >При
    подготовке полости для адгезивной
    системы после протравливания, важно не
    пересушить полость. Можно использовать
    воздушный пистолет (пустер) для этих
    целей, но некоторые доктора используют
    в своей практике спиртовой протокол.</p>
    <p ><i>Спиртовой
    протокол</i>
    — это рекомендации к использованию
    спиртового раствора, который необходим
    для гибридизации дентина.</p>
    <p ><u>Этапы:</u></p>
    <ol>
        <li><p >Протравливание
        эмали и дентина (эмаль протравливается
        30 сек., а дентин - 15 сек.)</p></li>
        <li><p >Удаление
        геля водной струей в течение 30 сек., не
        высушивать полость воздухом!</p></li>
        <li><p >Промыть
        полость в течение 30 сек. 95% спиртом. Его
        наносят с помощью шприца, распределяя
        по полости кисточкой либо с помощью
        смоченного ватного шарика, втирая в
        поверхность</p></li>
        <li><p >Ждем,
        когда спирт испарится</p></li>
        <li><p >После
        спирта поверхность не сушат, а сразу
        втирают адгезив.</p></li>
    </ol>
    <p ><br/>
    
    </p>
    <p align="center" style="line-height: 200%; margin-bottom: 0in"><i><u>Рецепт
    вашей идеальной композитной пломбы:</u></i></p>
    <p style="line-height: 200%; margin-bottom: 0in">1)
    Проведите протравливание отпрепарированной
    полости с помощью геля для травления в
    течение 30 сек.</p>
    <p style="line-height: 200%; margin-bottom: 0in">2)
    Смойте гель водой (30 сек.)</p>
    <p style="line-height: 200%; margin-bottom: 0in">3)
    Изолируйте зуб</p>
    <p style="line-height: 200%; margin-bottom: 0in">4)
    Высушите полость зуба с помощью пустера
    (важно не пересушить, можно использовать
    спиртовой протокол*)</p>
    <p style="line-height: 200%; margin-bottom: 0in">5)
    С помощью браша внесите компоненты
    адгезивной системы в полость:</p>
    <p style="line-height: 200%; margin-bottom: 0in"> ▹ Нанесите
    праймер легкими втирающими движениями
    в течение 30 сек. 
    </p>
    <p style="line-height: 200%; margin-bottom: 0in"> ▹ С
    помощью пустера подсушиваем в течение
    30 сек.</p>
    <p style="line-height: 200%; margin-bottom: 0in"> ▹ При
    помощи нового браша нанесите бонд в
    течение 30 сек. легкими втирающими
    движениями</p>
    <p style="line-height: 200%; margin-bottom: 0in"> ▹ Раздуйте
    адгезив с помощью пустера в течение 30
    сек.</p>
    <p style="line-height: 200%; margin-bottom: 0in"><b>Внимание:
    в данной схеме описана приблизительная
    методика! при работе с той или иной
    адгезивной системой смотрите инструкцию
    производителя!</b></p>
    <p style="line-height: 200%; margin-bottom: 0in">6)
    С помощью ультрафиолетовой лампы
    проведите полимеризацию адгезива</p>
    <p style="line-height: 200%; margin-bottom: 0in">7)
    Внесите первую порцию материала -
    жидкотекучий композит. Распределите
    его по дну полости с помощью зонда (таким
    образом вы также избавьтесь от пузырьков
    воздуха в нём)</p>
    <p style="line-height: 200%; margin-bottom: 0in">8)
    Проведите полимеризацию композита с
    помощью ультрафиолетовой лампы</p>
    <p style="line-height: 200%; margin-bottom: 0in">9)
    Внесите несколько порций (каждая порция
    приблизительно по 1,5-2 г) выбранного вами
    наполненного композита, при этом
    осуществляя полимеризацию каждой из
    порций лампой</p>
    <p style="line-height: 200%; margin-bottom: 0in">10)
    При внесении композита проведите
    моделирование пломбы</p>
    <p style="line-height: 200%; margin-bottom: 0in">11)
    Проведите окончательную полимеризацию
    сделанной пломбы</p>
    <p style="line-height: 200%; margin-bottom: 0in">12)
    Проведите проверку пломбы по
    прикусу/устраните суперконтакты с
    помощью артикуляционной бумаги</p>
    <p style="line-height: 200%; margin-bottom: 0in">13)
    Отполируйте пломбу с помощью специальных
    боров и паст</p>
    <p align="center" ><i>Готово!
    Вы восхитительны</i><span lang="ru-RU"><i>!</i></span></p>
    </body>
{% endblock %}