
{% extends "base.html" %}
{% block content %}
<p><h1>Проверь как хорошо ты понял пройденный материал</h1></p>
<p><h3>Тест по анатомии зуба:<a href = "https://docs.google.com/forms/d/e/1FAIpQLSfZn0KERyg4P9ZWWDxojx794zJHYpZFWkBeRhrVyhQEdp2UjQ/viewform?usp=sf_link" target="_blank"> Ccылка на прохождение!</a></h3></p>
<p><h3>Тест по кариесологии зуба:<a href = "https://docs.google.com/forms/d/e/1FAIpQLScLrNMNwsXBQUAZiucLbGGPrb8En18_AL9Zoth3iiTQANqxcA/viewform?usp=sf_link" target="_blank"> Ccылка на прохождение!</a></h3></p>
<p><h3>Тест по хирургии:<a href = "https://docs.google.com/forms/d/e/1FAIpQLSdzH__ALvIK98CU0BWPSmr1dNgGoRr-jaafGMSaznZ8AMiylw/viewform?usp=sf_link" target="_blank"> Ccылка на прохождение!</a></h3></p>
{% endblock %}