{% load static %}
<style>
    .innercontent {
         padding: 0 0 0 185px;
         position: relative; 
         text-align:justify;
     }

     .innercontent img {
        margin: 0;   
        padding: auto;    
        width: auto;
        text-align: right;
        float: right;
        padding: 10px; /* отступ со всех сторон*/
     }
 </style>

<footer class="innercontent">    
    <img src="{% static 'images/logo/logo_sechi.png' %}" width="150" height="107" /><!-- Увиличивает отстум между фото(style="margin-right: 20px;") -->
    <img src="{% static 'images/logo/logo_D_D.png' %}" width="150" height="107" style="margin-top: 19px;" />
</footer>