<!-- Меню (навигация)-->

{% load static %}
<link rel="stylesheet" href="{% static 'css/menu.css'%}" type="text/css">

<header>
    <nav>
        <a class="logo" href="{% url 'homepage' %}"><img src="{% static 'images/logo/stom_i.png' %}" height="50" width="150px"></a>
        <ul class="nav-links">
            <li><a href="{% url 'homepage' %}">Главная</a></li>
            <li><a href="#adres">Контакты</a></li>
            <li class="dropdown">
                <a href="{% url 'f_l_e_m' %}" class="dropbtn">Учебные материалы</a>
                <div class="dropdown-content">
                    <a href="{% url 'anatomia' %}">Анатомия</a>
                    <a href="{% url 'cariesology' %}">Кариесология</a>
                    <a href="{% url 'surgery' %}">Хирургия</a>
            </li>
            <li><a href="{% url 'test' %}">Проверь себя</a></li>
            <li><a href="https://forms.gle/egrNUY5nF8qDXpWZ6" target="_blank">Предложи свою идею</a></li>
        </ul>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>
</header>